<head>
    <style>
        body {
            font-size: 16px;
            background-color: rgb(245, 245, 245);
            color: rgb(78, 78, 78);
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            margin: 10% 20%;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 3px;
            padding: 0 20px;
        }

        .title {
            font-size: 20px;
            font-weight: 600;
        }

        .main-button {
            text-align: center;
            margin: 30px;
        }

        .main-button a {
            color: #FFF;
            text-decoration: none;
        }

        .btn {
            font-size: 20px;
            padding: 10px;
            color: #FFF;
            border: 0;
            margin: auto;
            cursor: pointer;
            border-radius: 3px;
            background-color: rgb(138, 43, 226);
            transition: .2s;
        }

        .btn:hover {
            background-color: rgb(118, 35, 196);
        }

        .btn.btn-large {
            padding: 15px;
        }

        .info-text {
            font-style: italic;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>